<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a class="active" href="/">Home</a></li>
          <li class="main-header__item">
            <a href="/admin/add-product" class=>Add product</a>
          </li>
          <li class="main-header__item"><a href="/order">Order product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>My products</h1>
        <ul>
          <% prods.forEach(function(product) { %>
          <li>
            name : <%= product.title %> quantity : <%= product.quantity %>,
          </li>
          <% }); %>
        </ul>
      </div>
      <div>
        <h1>My orders</h1>
        <% ords.forEach(order => { %>
        <li>
          <p>title : <%= order.title%></p>
          <p>quantity : <%= order.quantity%></p>
          <p>date : <%= order.date%></p>
          <p>location : <%= order.location%></p>
        </li>
        <% }) %>
      </div>
    </main>
    <script src="/js/sho.js"></script>
  </body>
</html>
